Faculdade - SENAI/1º Semestre/Automação/flows.json
[
    {
        "id": "504ffa879f1a64ce",
        "type": "tab",
        "label": "CNC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e534d3cac6d44af",
        "type": "serial in",
        "z": "504ffa879f1a64ce",
        "name": "CNC",
        "serial": "f85f8403d06665db",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "a098cfa2f2aa595c"
            ]
        ]
    },
    {
        "id": "a098cfa2f2aa595c",
        "type": "function",
        "z": "504ffa879f1a64ce",
        "name": "TrataDados",
        "func": "// lê status\ntry{\n    let dados = msg.payload.split(\"|\");\n    let status = dados[0].substring(1);\n\n    // lê posições\n    let dadosPos = dados[1].split(\":\");\n    dadosPos = dadosPos[1].split(\",\");\n\n    let x = dadosPos[0];\n    let y = dadosPos[1];\n    let z = dadosPos[2];\n\n    // lê feed rate e spindle\n    let dadosRateSpindle = dados[2].split(\":\");\n    dadosRateSpindle = dadosRateSpindle[1].split(\",\");\n    let feedRate = dadosRateSpindle[0];\n    let spindle = dadosRateSpindle[1];\n\n    //let dadosJSON = JSON.parse('{\"status\":\"' + status + '\",\"x\":' + x + ',\"y\":' + y + ',\"z\":' + z + ',\"feedRate\":' + feedRate + ',\"spindle\":' + spindle + '}');  \n    let dadosJSON = JSON.parse('{\"status\":\"' + status + '\", \"x\":' + x + ',\"y\":' + y + ', \"z\":' + z + ', \"feedRate\":' + feedRate + ',\"spindle\":' + spindle + '}');\n    msg.payload = dadosJSON;\n}\ncatch (err){\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            [
                "25fb8ff6f8e6c2d4"
            ]
        ]
    },
    {
        "id": "25fb8ff6f8e6c2d4",
        "type": "function",
        "z": "504ffa879f1a64ce",
        "name": "AtualizaDados",
        "func": "flow.set(\"dadosGlobais\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "216c14836ba1bea6",
        "type": "inject",
        "z": "504ffa879f1a64ce",
        "name": "variaveisGlobais",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "9ea08b8ad3f79171"
            ]
        ]
    },
    {
        "id": "9ea08b8ad3f79171",
        "type": "change",
        "z": "504ffa879f1a64ce",
        "name": "set flow.dadosGlobais",
        "rules": [
            {
                "t": "set",
                "p": "dadosGlobais",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "185c59f0ba0a4c13",
        "type": "inject",
        "z": "504ffa879f1a64ce",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "0afa12056039a6ee"
            ]
        ]
    },
    {
        "id": "0afa12056039a6ee",
        "type": "function",
        "z": "504ffa879f1a64ce",
        "name": "leStatus",
        "func": "let dados = flow.get(\"dadosGlobais\");\n\nlet status = dados.status;\n\nswitch (status){\n    \n    case \"Idle\":\n        msg.payload = 0;\n        break;\n\n    case \"Check\":\n        msg.payload = 1;\n        break;\n\n    case \"Run\":\n        msg.payload = 2;\n        break;\n\n    default:\n        msg.payload = -1;\n\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "fd24e9137287f075",
                "e3750e404132c5e9",
                "2e0be6486f1f3fa6"
            ]
        ]
    },
    {
        "id": "fd24e9137287f075",
        "type": "ui_led",
        "z": "504ffa879f1a64ce",
        "order": 0,
        "group": "7f9455fbed65fa7e",
        "width": 0,
        "height": 0,
        "label": "Idle",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "-1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "e3750e404132c5e9",
        "type": "ui_led",
        "z": "504ffa879f1a64ce",
        "order": 1,
        "group": "7f9455fbed65fa7e",
        "width": 0,
        "height": 0,
        "label": "Check",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "-1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "2e0be6486f1f3fa6",
        "type": "ui_led",
        "z": "504ffa879f1a64ce",
        "order": 2,
        "group": "7f9455fbed65fa7e",
        "width": 0,
        "height": 0,
        "label": "Run",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "-1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "db4fd5d05dbdc54b",
        "type": "http in",
        "z": "504ffa879f1a64ce",
        "name": "",
        "url": "/cnc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "c55a341456635dc3"
            ]
        ]
    },
    {
        "id": "c55a341456635dc3",
        "type": "function",
        "z": "504ffa879f1a64ce",
        "name": "apiDadosCNC",
        "func": "msg.payload = flow.get(\"dadosGlobais\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "1761c33c23a9395b"
            ]
        ]
    },
    {
        "id": "1761c33c23a9395b",
        "type": "http response",
        "z": "504ffa879f1a64ce",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "f85f8403d06665db",
        "type": "serial-port",
        "name": "RS232",
        "serialport": "COM10",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7f9455fbed65fa7e",
        "type": "ui_group",
        "name": "Status",
        "tab": "305d8aa3db462188",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "305d8aa3db462188",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]