Faculdade - SENAI/1º Semestre/Projeto Integrador/Desenvolvimento/Node_Read/CNC.json
[
    {
        "id": "416f2defcb1bc4b0",
        "type": "tab",
        "label": "CNC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98ba3094f2865627",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "TrataDados",
        "func": "// lê status\ntry{\n    let dados = msg.payload.split(\"|\");\n    let status = dados[0].substring(1);\n\n    // lê posições\n    let dadosPos = dados[1].split(\":\");\n    dadosPos = dadosPos[1].split(\",\");\n\n    let x = dadosPos[0];\n    let y = dadosPos[1];\n    let z = dadosPos[2];\n\n    // lê feed rate e spindle\n    let dadosRateSpindle = dados[2].split(\":\");\n    dadosRateSpindle = dadosRateSpindle[1].split(\",\");\n    let feedRate = dadosRateSpindle[0];\n    let spindle = dadosRateSpindle[1];\n\n    //let dadosJSON = JSON.parse('{\"status\":\"' + status + '\",\"x\":' + x + ',\"y\":' + y + ',\"z\":' + z + ',\"feedRate\":' + feedRate + ',\"spindle\":' + spindle + '}');  \n    let dadosJSON = JSON.parse('{\"status\":\"' + status + '\", \"x\":' + x + ',\"y\":' + y + ', \"z\":' + z + ', \"feedRate\":' + feedRate + ',\"spindle\":' + spindle + '}');\n    msg.payload = dadosJSON;\n}\ncatch (err){\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            [
                "8bad1662a1a98197"
            ]
        ]
    },
    {
        "id": "8477412b747237c7",
        "type": "inject",
        "z": "416f2defcb1bc4b0",
        "name": "variaveisGlobais",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "af478fe0a477dfc8"
            ]
        ]
    },
    {
        "id": "af478fe0a477dfc8",
        "type": "change",
        "z": "416f2defcb1bc4b0",
        "name": "set flow.dadosGlobais",
        "rules": [
            {
                "t": "set",
                "p": "dadosGlobais",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "92d20f6d9b2c7ff9",
        "type": "inject",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "4c556d8cfb67bbbf"
            ]
        ]
    },
    {
        "id": "4c556d8cfb67bbbf",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "leStatus",
        "func": "let dados = flow.get(\"dadosGlobais\");\n\nlet status = dados.status;\n\nswitch (status){\n    \n    case \"Idle\":\n        msg.payload = 0;\n        break;\n\n    case \"Check\":\n        msg.payload = 1;\n        break;\n\n    case \"Run\":\n        msg.payload = 2;\n        break;\n\n    case \"Hold:0\":\n        msg.payload = 0;\n        break;\n    \n    case \"Check\":\n        msg.payload = 1;\n        break;\n    \n    default:\n        msg.payload = -1;\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dc681d83be744a59",
        "type": "http in",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "url": "/cnc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "e82d24513eecfeb2"
            ]
        ]
    },
    {
        "id": "e82d24513eecfeb2",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "apiDadosCNC",
        "func": "msg.payload = flow.get(\"dadosGlobais\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "e8724a39a0ea2023"
            ]
        ]
    },
    {
        "id": "e8724a39a0ea2023",
        "type": "http response",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": ""
        },
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "90f96ea7b12052ae",
        "type": "http in",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "798f7d1b05c12cd0"
            ]
        ]
    },
    {
        "id": "798f7d1b05c12cd0",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "leStatus",
        "func": "let dados = flow.get(\"dadosGlobais\");\n\nlet status = dados.status;\n\nswitch (status){\n    \n    case \"Idle\":\n        msg.payload = 0;\n        break;\n\n    case \"Check\":\n        msg.payload = 1;\n        break;\n\n    case \"Run\":\n        msg.payload = 2;\n        break;\n\n    case \"Hold:0\":\n        msg.payload = 0;\n        break;\n    \n    case \"Check\":\n        msg.payload = 1;\n        break;\n    \n    default:\n        msg.payload = -1;\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "7fe51ee99999793e"
            ]
        ]
    },
    {
        "id": "7fe51ee99999793e",
        "type": "http response",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": ""
        },
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "8bad1662a1a98197",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "AtualizaDados",
        "func": "flow.set(\"dadosGlobais\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3ab1d0848e7011f8",
        "type": "inject",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "50b885494614e4d5"
            ]
        ]
    },
    {
        "id": "31bde5a33223cc79",
        "type": "debug",
        "z": "416f2defcb1bc4b0",
        "name": "Banco",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "50b885494614e4d5",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "function 2",
        "func": "let dados = flow.get(\"dadosGlobais\");\n\n let datahora = new Date();\n    let h = new Date().getHours();\n    let min = new Date().getMinutes();\n    let s = new Date().getSeconds();\n\n    h = (h < 10) ? '0' + h : h\n    min = (min < 10) ? '0' + min : min\n    s = (s < 10) ? '0' + s : s\n\n\n    let horaformatada = h + ':' + min + ':' + s;\n\n        // Obter o elemento e atualizar o conteúdo\n        \n\n    // horas.innerHTML = h\n    // minutos.innerHTML = m\n    // segundos.innerHTML = s\n\n\n\n\n\n\n\n\n    let data = new Date();\n    let d = data.getDate();\n    let m = data.getMonth()+1;\n    let a = data.getFullYear();\n\n    d = (d < 10) ? '0' + d : d\n    m = (m < 10) ? '0' + m : m\n\n\n    let dataformatada = d + '-' + m + '-' + a;\n\n   \n\n\n\n\nlet feed = dados.feedRate;\nlet spindle = dados.spindle;\nlet status = dados.status;\nlet x = dados.x;\nlet y = dados.y;\nlet z = dados.z;\nlet dataF = dataformatada;\nlet horaF = horaformatada;\n\n\n\nmsg.topic = `INSERT INTO dados_mq(status_mq, posicao_x, posicao_y, posicao_z, taxa_avanco, RPM, data, hora) VALUES('${status}', '${x}', '${y}', '${z}', '${feed}', '${spindle}', '${dataF}', '${horaF}')`;\n        \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "d532fc5da36e3f03"
            ]
        ]
    },
    {
        "id": "7e0937d511cdc357",
        "type": "inject",
        "z": "416f2defcb1bc4b0",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "3a51eee5cd90c74c"
            ]
        ]
    },
    {
        "id": "3a51eee5cd90c74c",
        "type": "function",
        "z": "416f2defcb1bc4b0",
        "name": "apiDadosCNC",
        "func": "msg.payload = flow.get(\"dadosGlobais\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "d3a9b3134d7b9965"
            ]
        ]
    },
    {
        "id": "d3a9b3134d7b9965",
        "type": "debug",
        "z": "416f2defcb1bc4b0",
        "name": "Dados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "e5e7a423a81839ab",
        "type": "serial in",
        "z": "416f2defcb1bc4b0",
        "name": "CNC",
        "serial": "f85f8403d06665db",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "98ba3094f2865627"
            ]
        ]
    },
    {
        "id": "d532fc5da36e3f03",
        "type": "mysql",
        "z": "416f2defcb1bc4b0",
        "mydb": "7bc3020667e785b9",
        "name": "BANCO",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "31bde5a33223cc79"
            ]
        ]
    },
    {
        "id": "f85f8403d06665db",
        "type": "serial-port",
        "name": "RS232",
        "serialport": "COM10",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7bc3020667e785b9",
        "type": "MySQLdatabase",
        "name": "Projeto",
        "host": "localhost",
        "port": "3306",
        "db": "dados_mecanica",
        "tz": "",
        "charset": "UTF8"
    }
]